.page-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .page-list {
    padding: 50px;
    flex-basis: 45%;
    .list-filter-buttons {
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }

  .page-item {
    padding: 50px;
    flex-basis: 55%;
    min-height: 100%;
    background-color: #f8f8f8;
  }
}

.page-item-message {
  font-size: 30px;
  font-weight: 600;
  color: #343a40;
}
